

.header{
    height: 80px;
    background-color: rgb(0, 0, 0);
    display:flex;
    justify-content: center;
}

.header_inside_box{
    width: 65%;
    justify-content: space-evenly;
    display: flex;
    margin: 14px;
}
.website_logo_box{
    margin-left: 100px;
    width: 25%;
}
.website_logo{
    margin-top: 20px ;
}
h1{
    color: white;
}
